.nav-brand img {
    width: 60%;
}
body {
    background: rgb(49,76,77);
    background: linear-gradient(90deg, rgba(49,76,77,1) 0%, rgba(200,200,221,1) 36%, rgba(0,249,255,0.24693627450980393) 100%);
}